/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f0e8fc;
    background-color: rgb(31, 0, 51);
  }
  
  a {
    color: #e73cd6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header styles */
  header {
    background-color: #040109;
    color: #f0e8fc;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #f0e8fc;
  }
  
  /* Main content styles */
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }



  .event {
    border: 1px solid #8d1396;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #040109;
  }
  
  .content {
    font-size: 16px;
    margin-bottom: 8px;
    white-space: pre-wrap;
  }
  
  .metadata {
    font-size: 14px;
    color: #666;
  }
  
  .created-at,
  .pubkey,
  .id,
  .kind,
  .tags,
  .sig {
    margin-right: 10px;
  }
  
  
  .hero {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .hero input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
  }
  
  .hero button {
    background-color: #aa7bef;
    color: #0b0a0c;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: #8d1396;
  }
  

  
  /* Footer styles */
  footer {
    background-color: #040109;
    color: #f0e8fc;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  